.blog > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.blog > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.blog .blogs-blog-body {
  margin: 16px;

}

.blog a:any-link  {
  color: black;
  text-decoration: none;
}

.blog a:hover  {
  color: darkred;
  text-decoration: none;
}


.blog .blogs-blog-image {
  line-height: 0;
}

.blog .blogs-blog-body > *:first-child {
  margin-top: 0;
}

.blog > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
