.blog > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.blog > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.blog .blogs-blog-body, .blog .blogs-blog-title {
  margin: 16px;

}

.blog .blogs-blog-title {
  font-weight: 800;
}

.blog a:any-link  {
  color: black;
  text-decoration: none;
}

.blog a:hover  {
  color: darkred;
  text-decoration: none;
}


.blog .blogs-blog-image {
  line-height: 0;
}

.blog .blogs-blog-body > *:first-child {
  margin-top: 0;
}

.blog > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.hero-card {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero-card .blogs-blog-image {
  width: 100%;
  max-height: 550px; /* Set your desired max height */
  overflow: hidden;
}

.hero-card .blogs-blog-image img {
  width: 100%;
  height: 100%;

}

.hero-card .blogs-blog-title,
.hero-card .blogs-blog-body {
  text-align: center;
}

/* Media query for desktop layout */
@media (width >= 900px) {
  .hero-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .hero-card .blogs-blog-image {
    width: 100%;
    max-height: 550px; 
    object-fit: cover;  

  }

  .hero-card .blogs-blog-content {
    width: 50%;
    padding: 20px;
  }

  .hero-card .blogs-blog-title,
  .hero-card .blogs-blog-body {
    text-align: left;
  }
}

