.blog > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.blog > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.blog .blogs-blog-body, .blog .blogs-blog-title {
  margin: 16px;

}

.blog .blogs-blog-title {
  font-weight: 800;
}

.blog a:any-link  {
  color: black;
  text-decoration: none;
}

.blog a:hover  {
  color: darkred;
  text-decoration: none;
}


.blog .blogs-blog-image {
  line-height: 0;
}

.blog .blogs-blog-body > *:first-child {
  margin-top: 0;
}

.blog > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.hero-card {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card .blogs-blog-image {
  width: 100%;
  max-height: 350px; /* Set your desired max height */
  overflow: hidden;
}

.hero-card .blogs-blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover /* Ensures the image covers the container while maintaining aspect ratio */
}

.hero-card .blogs-blog-title,
.hero-card .blogs-blog-body {
  text-align: center;
}