footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.inline-container {
  float: right;
  top: -55px;

  .mastfoot {
    display: none!important;
  }

  input.btn {
    color: blue;
  }
}

