.author, .updated, .original-source {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #333;
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-right: 10px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (width <= 900px) { 
    .author, .updated, .original-source {
        margin: 0 25px 0 -15px;
    }
}
